<div class="container">
    <div> <h1 class="text-center"> AddBicycles</h1>
</div>
<form [formGroup]="AddBicycles" >
    
    <div class="form-group">
        <small class="text-danger"> *</small> <label> Model No </label>
<input type="text" class="form-control"  name="modelno"  formControlName="modelno">

</div>

<div class="form-group">
    <small class="text-danger"> *</small>  <label> Bicycle Name </label>
<input type="text" required class="form-control" formControlName="bicycleName">
</div>

<div class="form-group">
    <small class="text-danger"> *</small> <label> Price (Inc. all taxes) </label>
<input type="text" class="form-control" formControlName="price">
</div>



<div class="form-group">
    <small class="text-danger"> *</small>  <label> Colors of Bicycles </label>
<input type="text" class="form-control" formControlName="colors">
</div>


<div class="form-group">
    <small class="text-danger"> *</small>  <label> Weight </label>
<input type="text" class="form-control" formControlName="weight">
</div>

<div class="form-group">
    <small class="text-danger"> *</small> <label> Basic Information about Bicycle </label>
<input type="text" class="form-control" formControlName="information">
</div>

<div class="example-button-row">
    <small class="text-danger"> *</small><input type="file"  #image accept="image/*"  (change)="onFileSelected($event.target.files)">
</div>

<button type="button" (click)="add()" class="btn btn-primary"> Add </button>

</form>
</div>

