
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
 
  <ul class="nav nav-tabs">

    
      <li routerLinkActive="active"> <a class="nav-link"
          routerLink="home" > <p style="color: black;">Home </p></a>
      </li>


      <li routerLinkActive="active"> <a class="nav-link"
        routerLink="login" ><p style="color: black;">Login</p> </a>
    </li>
    

    <!-- <li routerLinkActive="active"> <a class="nav-link"
      routerLink="Addbiicycle" > <p style="color: black;">AddBicycles</p> </a>
  </li> -->


<!-- <li routerLinkActive="active"> <a class="nav-link"
  routerLink="cycles" ><p style="color: black;">Admin view</p> </a>
</li> -->

<li routerLinkActive="active"> <a class="nav-link"
  routerLink="uview" ><p style="color: black;">Bicycles</p> </a>
</li>

<li routerLinkActive="active"> <a class="nav-link"
  routerLink="cart" ><p style="color: black;">Your Cart</p> </a>
</li>

<li routerLinkActive="active"> <a class="nav-link"
  routerLink="aboutus" ><p style="color: black;">AboutUs</p> </a>
</li>

<li routerLinkActive="active"> <a class="nav-link"
  routerLink="logout" ><p style="color: black;">LogOut</p> </a>
</li>


</ul>

</nav>

<router-outlet></router-outlet>
