<div class=".img-fluid" [ngStyle]="{'background-image': getUrl()}">

<div style="text-align: center;text-decoration-color: white;">
<h1 style="color: lightgoldenrodyellow;font-size: 6vmax;">STRONG.STURDY.STYLISH</h1>
<p>

<br><br><br><br>

</p>
<h1 style="color: silver;text-align: center;">Welcome To BIKE STUDIO
    Bike Studio was established in 2015 and is a first ever Joint 
    venture between Thailand & India based companies to market Bicycles & 
    Kids Toys of very High Quality & world class designs to the 
    Indian consumer. The Products of Bike Studio are being sourced 
    from Thailand, Sri Lanka & China and are being sold to the 
    Indian consumers through a vast network of about 300 dealers all 
    over the country. Sourcing from Thailand and Sri Lanka help the 
    brand to save big on duty while importing the products,
     thus giving a price advantage as compared to the competetion.</h1>


<br><br><br><br><br><br><br><br><br><br><br><br>




</div>







