<div class="container">
    <h1 class="text-center">YOUR CART</h1>


<table class="table table-bordered">
    <tr>
        <th>Model No</th>
        <th>Bicycle Name</th>
        <th>Price</th>
        <th>Colors</th>
        <th>Weight</th>
        <th>Information about bicycle</th>
        <th>Image</th>
        <th>Action</th>
    </tr>

    <ng-container *ngFor='let r of temp;let i=index'><tr>
        <td>{{r.modelno}}</td>

        <td>{{r.bicycleName}}</td>

        <td>{{r.price}}</td>

        <td>{{r.colors}}</td>

        <td>{{r.weight}}</td>

        <td>{{r.information}}</td>
        
        <td> <img [src]=r.image height="150px" width="250px"></td>

        <td>
        <button class="btn btn-danger" (click)="cart(i)"> Add in my cart</button>

        </td>
    </tr>
   
    </ng-container>
    </table>


