<h1 style="background-color:khaki;text-decoration: black;text-decoration-color: burlywood;text-align:center; font-style:oblique ;">


    About-Us<div style="text-decoration-color: darkgoldenrod;text-align: center;font-size: 6vmax;"></div>
    Just Dial Limited is India's No. 1 Local Search engine that provides
     local search related services to users across India through 
     multiple platforms such as website, mobile website, Apps 
     (Android, iOS, Windows), over the telephone 
     (voice, pan India number 8888888888) and text (SMS).
     Justdial has also initiated ‘Search Plus’ services for its users. 
     These services aim at making several day-to-day tasks conveniently
      actionable and accessible to users through one App. By doing so,
       it has transitioned from being purely a provider of local search
        and related information to being an enabler of such transactions. 
        Justdial has also recently launched JD Omni, an end-to-end business
         management solution for SMEs, through which it intends to transition
          thousands of SMEs to efficiently run their business online and have
           adequate online presence via their own website and mobile site.
<br><br>
<h6 style="text-decoration-color: darkgoldenrod;text-align: center;font-size: 2vmax;">
Contact Person Detail:<br>
Name:Saurabh Ikhar &nbsp;
Email-Id:saurabhbhau@gmail.com. &nbsp;
Mob-No:7774817208.
</h6>
<br><br>