{{res.Msg}}
<!-- <div  class="text-center"> -->
<div class="container">
    
        <h1> Registration-Form</h1>
    
    <form [formGroup]="registrationform" (ngSubmit)="onsubmit()">
        <div class="form-group">

            <label class="control-label col-sm-2" for="uname">Name:<span class="t">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="uname" placeholder="uname"> <br>
                <div class="alert alert-danger"
                    *ngIf="registrationform.controls['uname'].invalid && registrationform.controls['uname'].touched">
                    <div *ngIf="registrationform.controls['uname'].errors.required">Name is Required</div>
                    <div *ngIf="registrationform.controls['uname'].errors.minlength">Name should be minimum of 3 letters
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="gender">Gender:<span class="t">*</span></label><br>

            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="gender" placeholder="Gender">
                <div class="alert alert-danger"
                    *ngIf="registrationform.controls['gender'].invalid && registrationform.controls['gender'].touched">
                    <div *ngIf="registrationform.controls['gender'].errors.required">Gender is Required</div>
                    <div *ngIf="registrationform.controls['gender'].errors.pattern">Gender must be a valid email address
                    </div>
                </div>
            </div>

            <br><br>


            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password:<span class="t">*</span></label><br>
                <div class="col-sm-8">
                    <input type="password" class="form-control" formControlName="password" placeholder="password"> <br>
                    <div class="alert alert-danger"
                        *ngIf="registrationform.controls['password'].invalid && registrationform.controls['password'].touched">
                        <div *ngIf="registrationform.controls['password'].errors.required">Password is Required</div>
                        <div *ngIf="registrationform.controls['password'].errors.minlength">Password should be minimum
                            of 3 letters</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="mobile">Mobile:<span class="t">*</span></label><br>
                <div class="col-sm-8">
                    <input type="number" class="form-control" formControlName="mobile" placeholder="mobile">
                    <div class="alert alert-danger"
                        *ngIf="registrationform.controls['mobile'].invalid && registrationform.controls['mobile'].touched">
                        <div *ngIf="registrationform.controls['mobile'].errors.required">Mobile number is Required</div>
                        <div *ngIf="registrationform.controls['mobile'].errors.minlength">Mobile number should be 10
                            digit</div>
                        <!-- <div *ngIf="drivetracker.controls['mobno'].errors.pattern">Mobile number pattern should not be match</div> -->
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:<span class="t">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="email" placeholder="email"> 
                    <div class="alert alert-danger"
                        *ngIf="registrationform.controls['email'].invalid && registrationform.controls['email'].touched">
                        <div *ngIf="registrationform.controls['email'].errors.required">Email is Required</div>
                        <div *ngIf="registrationform.controls['email'].errors.pattern">Email must be a valid email
                            address</div>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label class="control-label col-sm-2" for="address">Address:<span class="t">*</span></label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="address" placeholder="">
                    <div class="alert alert-danger"
                        *ngIf="registrationform.controls['address'].invalid && registrationform.controls['address'].touched">
                        <div *ngIf="registrationform.controls['address'].errors.required">Address is Required</div>
                        <div *ngIf="registrationform.controls['address'].errors.pattern">Address must be a valid email
                            address</div>
                    </div>
                </div>
            
<br>

                <button type="submit" (click)="save()" class="btn btn-primary"> submit </button>
                </div>